<!DOCTYPE html>
<html>

<head>
    <title>MEE2 Configuration</title>
    <link href="{{ url_for('static', filename='configuration.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='js/configuration.js') }}"></script>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/app-icons/1004808089834373230/e30029e50ec03472f1fe236a43d38684.png?size=512">
</head>

<body>
    <header>
        <h1>MEE2 Configuration</h1>
    </header>
    <div class="container">
        <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="#" class="selected">Configuration</a></li>
              <li><a href="/logs">Logs</a></li>
              <li><a href="/support">Support</a></li>
            </ul>
        </nav>
        <main>
            <form>
                <label for="token">Token:</label>
                <input type="password" id="token" name="token">
                <br>
                <label for="name">Bot Name:</label>
                <input type="text" id="name" name="name">
                <br>
                <label for="status">Status:</label>
                <select id="status" name="status">
                    <option value="online">Online</option>
                    <option value="idle">Idle</option>
                    <option value="dnd">Do Not Disturb</option>
                    <option value="invisible">Invisible</option>
                </select>
                <br>
                <input type="submit" value="Save Changes">
            </form>
        </main>
    </div>
</body>

</html>