<!DOCTYPE html>
<html>

<head>
    <title>MEE2 Plugins</title>
    <link href="{{ url_for('static', filename='plugins.css') }}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/app-icons/1004808089834373230/e30029e50ec03472f1fe236a43d38684.png?size=512">
</head>

<body>
    <header>
        <h1>MEE2 - Plugins</h1>
    </header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#" class="selected">Plugins</a></li>
                <li><a href="/configuration">Configuration</a></li>
                <li><a href="/logs">Logs</a></li>
                <li><a href="/support">Support</a></li>
            </ul>
        </nav>
        <main>
          <p>This is the plugin page here you can disable/enable the individual cogs.</p>
            <table id="status">
                <tr>
                    <th>Plugin</th>
                    <th>Status</th>
                    <th>Plugin link</th>
                </tr>
                <tr>
                    <td>Uptime</td>
                    <td>1 Year</td>
                    <td><a href="/api/uptime">/api/uptime</a></td>
                </tr>
                <tr>
                    <td>Hits Per Minute</td>
                    <td>10</td>
                    <td><a href="/api/hpm">/api/hpm</a></td>
                </tr>
                <tr>
                    <td>Plugin - Fivem</td>
                    <td>Online</td>
                    <td><a href="/plugins/fivem">/plugins/fivem</a></td>
                </tr>
            </table>
        </main>

    </div>
</body>

</html>